* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: #1b1a1b;
  --text-color: #ffffffe9;
  --primary-color: #cd32cd;
  --primary-color-dark: #d672dd;
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

body.dark {
  --bg-color: #00082F;
  --text-color: #FFFFFF;
}

body.pink {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body.pink-dark {
  --bg-color: #1F000B;
  --text-color: #D6336C;
}
.container {
  text-align: center;
  width: 300px;
  margin: 20px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 80%;
  height: 100%;
  border: var(--primary-color) solid 6px;
  padding: 3.7px;

}
ul {
  list-style: none;
  margin: 48px 0;
}

h1 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
}

p {
  font-family: 'Roboto Mono', monospace;
  opacity: 0.8;
  font-size: 18px;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
  gap: 8px;
}

ul li a:hover {
  background: var(--primary-color-darkprimary-color-dark);
}
footer {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
}